spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5433/appdb
    username: appuser
    password: "apppass"
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: never

